# ▶ Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so
*.log
*.egg
*.egg-info/
*.manifest
*.spec
.Python
*.sqlite3
db.sqlite3
db.sqlite3-journal
cython_debug/

# ▶ 가상환경
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# ▶ Jupyter / IPython 관련
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
profile_default/
ipython_config.py

# ▶ IDE & 편집기 관련
.vscode/
.idea/
*.swp
.spyderproject
.spyproject
.ropeproject

# ▶ 빌드, 배포 관련
build/
dist/
downloads/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST
target/

# ▶ 문서화 (Sphinx, MkDocs 등)
docs/_build/
site

# ▶ Flask, Django 등 웹 프레임워크
instance/
.webassets-cache/
local_settings.py

# ▶ 테스트, 커버리지
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
htmlcov/
.tox/
.nox/
cover/

# ▶ Scrapy
.scrapy

# ▶ Celery
celerybeat-schedule
celerybeat.pid

# ▶ Poetry / pipenv / pdm / uv 설정 파일
# Pipfile.lock
# poetry.lock
# uv.lock
# pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# ▶ PEP 582
__pypackages__/

# ▶ 기타 설정 파일
.ruff_cache/
.pypirc

# ▶ Docker 관련
docker/
.docker/
**/Dockerfile
**/docker-compose.yml
docker-compose.override.yml

# ▶ 기타 프로젝트 관련
static/find_similar_images/
